<div class="row align-items-center justify-content-between flex-column flex-sm-row">
    <div class="col-auto"><div class="lead fw-normal text-white">Telegram Group name</div></div>
    <div class="col-auto">
        <span class="small m-0 text-white-50">12.06.2023 2:36 pm</span>
        <span class="text-white-50 mx-1">&middot;</span>
        <a class="link-light small" href="#!">Telegram link</a>
    </div>
</div>
<p class="lead fw-normal text-white-50 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br><br>