<section class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <!-- Post -->
                    {% include "trawler/components/post-item.html" %}
                    {% include "trawler/components/post-item.html" %}
                    {% include "trawler/components/post-item.html" %}

                </div>
            </div>
        </div>
    </div>
</section>