<div class="row align-items-center justify-content-between flex-column flex-sm-row">
    <div class="col-auto"><div class="lead fw-normal text-white">{{ post.title }}</div></div>
    <div class="col-auto">
        <span class="small m-0 text-white-50">{{ post.date_created.strftime("%d.%m.%Y %H:%M") }}</span>
        <span class="text-white-50 mx-1">&middot;</span>
        <a class="link-light small" href="#!">Telegram link</a>
    </div>
</div>
<p class="lead fw-normal text-white-50 mb-4">{{ post.body }}</p>
<br><br>